/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap');

/* The body */
body {
  transition: all .5;
  font-family: "Roboto";
}

/* div */
div {
  /* margin-left: 35%; */
  text-align: center;
}

/* Setting the properties of the circle */
#circle {
  width: 100px;
  height: 100px;
  padding: 2%;
  margin-top: 2%;
  margin-left: 45%;
  border-radius: 50%;
  background: black;
  transition: all .5s;
}

#inputSection {
  text-align: center;
}

footer {
  margin: 2% 1%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
